@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-item {
  @apply px-3 py-1.5 rounded-full font-semibold text-white/70 hover:bg-white/20 transition duration-300;
}

.btn-secondary {
  @apply px-5 py-3 rounded-full bg-primary-dark border border-primary-light text-primary-light font-medium hover:bg-primary-light/10 hover:text-secondary-light transition duration-300;
}

.btn-primary {
  @apply px-5 py-3 rounded-full bg-primary-light border border-primary-light text-primary-dark font-medium hover:bg-primary-light/30 hover:text-secondary-light transition duration-300;
}
